---
import { getCollection, getEntry, render } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import Breadcrumb from 'src/components/Breadcrumb.astro'
import { Image } from 'astro:assets'
const { slug } = Astro.params
if (!slug) throw new Error('Slug not found')
console.log(slug)
const entry = await getEntry('projects', slug)
console.log(entry)

if (!entry) throw new Error('No project found for this slug')
const { Content } = await render(entry)

// Generate static pages
export async function getStaticPaths() {
  const projects = await getCollection('projects')
  return projects.map((item) => ({ params: { slug: item.id } }))
}

---

<Layout title={entry.data.title}>
  <div class="relative isolate bg-white text-zinc-800">
    <div style={{ 'background-image': `url(${entry.data.image})` }} class="absolute inset-0 left-1/3 -z-10 flex-1 bg-cover bg-right bg-no-repeat p-10 opacity-5 grayscale"></div>
    <div class="relative p-10">
      <Breadcrumb links={[ { label: 'Projects', url: '/projects' }, { label: entry.data.title } ]} />
      <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
        <Image src={entry.data.image} alt={entry.data.title} class="self-start"/>
        <div class="prose col-span-2">
          <h2 class="mb-8 text-3xl font-bold">{entry.data.title}</h2>
          <Content />
        </div>
      </div>
    </div>
  </div>
</Layout>
