---
import { getCollection, getEntry, render } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import Breadcrumb from 'src/components/Breadcrumb.astro'
import { Image } from 'astro:assets'
const { slug } = Astro.params
if (!slug) throw new Error('Slug not found')
console.log(slug)
const entry = await getEntry('portfolio', slug)
console.log(entry)

if (!entry) throw new Error('No post found for this slug')
const { Content } = await render(entry)

// Generate static pages
export async function getStaticPaths() {
  const portfolio = await getCollection('portfolio')
  return portfolio.map((post) => ({ params: { slug: post.slug } }))
}
const links = [{ label: 'portfolio', url: '/portfolio' }, { label: 'Untitled' }]
---

<Layout title="links" >
  <div class="relative isolate bg-white text-zinc-800">
    <div style={{ 'background-image': `url(${entry.data.image})` }} class="absolute inset-0 left-1/3 -z-10 flex-1 bg-cover bg-right bg-no-repeat p-10 opacity-5 grayscale"></div>
    <div class="relative p-10">
      <Breadcrumb links={[ { label: 'Portfolio', url: '/portfolio' }, { label: entry.data.title ?? 'Untitled' } ]} />
      <div class="gap-10">

        <!-- <div
        class="my-10 flex h-80 flex-col items-center justify-center gap-2 bg-[#dcc295]"
      >
        <p class="uppercase tracking-widest">Ari's Art Design</p>
        <h2 class="mb-8 px-4 text-6xl font-extralight font-serif ">{entry.data.title}</h2>
        <div class="h-[2px] w-36 bg-black"></div>
      </div> -->


      {entry.data.image ? (
          <Image src={entry.data.image} alt={entry.data.title} />
        ) : (
          <p>No image available</p>
          // <h2 class="py-8 px-4 text-6xl font-extralight font-serif ">{entry.data.title}</h2>
         )}
        <div class="prose">
          <Content />
        </div>
      </div>
    </div>
  </div>
</Layout>
